body{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.questao{
  font-size: 24px;
  margin-bottom: 20px;
}

opcao{
  display: block;
  margin: 10px;
  padding: 10px;
  background: lightblue;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

opcao:hover{
background: deepskyblue;
color: white;
}

.resultado{
  font-weight: bold;
  font-size: 20px;
  margin-top: top;
}